@import "~bootstrap/scss/bootstrap.scss";

.title{
    padding-top: 30px;
    text-align: center;
}

.list-group{
    width: 500px;
    margin: auto;
}

input{
    border-style: none;
}

::marker {
    color: white;
}
input{
    width: 390px;
    height: 36px;
    border-style: dashed;
}
